<%= form_with model: [@article, @article.comments.build] do |form| %>
	<div class="insert-comment">
		<p class="name">
			<%= form.label :commenter %>
			<%= form.text_field :commenter %>
		</p>
		<p class="comment">
			<label>Comment</label>
			<%= form.text_field :body %>
		</p>
	</div>
	<p>
		<%= form.submit %>
	</p>
<% end %>
